---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const tags = getUniqueTags(posts);
---

<Layout title="Tags">
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="Browse posts by tag.">
    <ul>
      {tags.map((t) => <Tag name={t} size="lg" />)}
    </ul>
  </Main>
  <Footer />
  
</Layout>

<style>
  ul {
    @apply my-6 flex flex-wrap gap-2;
  }
</style>

