---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);
const searchList = sortedPosts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<Layout title="Search">
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Find posts by title or description.">
    <Search searchList={searchList} client:load />
  </Main>
  <Footer />
  
</Layout>

